@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.left {
  width: 25vw;
  height: 100vh;
  overflow: hidden;
}

.right {
  width: 75vw;
  height: 90vh;
  position: relative;
}

.home {
  height: 150px;
}

.home li {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 30px;
  padding-top: 15px;
}

.heading {
  gap: 20px;
  font-size: small;
}

.heading img {
  width: 31px;
}

.library {
  position: relative;
  height: 70%;
}

.footer {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 13px;
  gap: 10px 22px;
  width: 280px;
}

.footer a {
  text-decoration: none;
  color: gray;
}

.header {
  background-color: #1e1d1d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.signup {
  background-color: #1e1d1d;
  color: darkgrey;
  width: 80px;
  border: 0;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.signup:hover {
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffff;
}

.signin {
  background-color: #ffffff;
  color: black;
  width: 100px;
  padding: 11px;
  border: 0;
  border-radius: 28px;
  font-size: 1.1rem;
  cursor: pointer;
  margin-left: 10px;
}

.signin:hover {
  padding: 13px 15px;
  font-size: 1.2rem;
  font-weight: bold;
}

/* --------->>>>>>>>>>>Soptify play list css */

.cardcontainer {
  max-height: 71vh;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
}

.card > * {
  padding: 5px 5px;
}

.card {
  position: relative;
  width: 200px;
  background-color: #181818;
}

.card img {
  width: 100%;
  object-fit: contain;
}

.circle-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1ed760;
  position: absolute;
  right: 23px;
  top: 200px;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.circle-container svg {
  width: 77%;
  height: 77%;
  margin: 4px;
}
.card:hover .circle-container {
  opacity: 1;
  top: 140px;
}

/* Play bar */
.playbar {
  height: 58px;
  position: absolute;
  bottom: 0;
  background-color: rgb(206 206 206);
  width: 97%;
  border-radius: 20px;
  padding: 10px;
}

.songlist ul {
  padding: 0px 0px 30px 6px;
  overflow: auto;
  cursor: pointer;
}

.songlist ul li {
  position: relative;
  list-style-type: none;
  display: flex;
  margin: 0 0 15px 0;
  border-radius: 5px;
  align-items: center;
}

.songlist .playnow {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  gap: 4px;
}

.songlist .info {
  font-size: 14px;
}

.songlist {
  max-height: 77%;
  overflow: scroll;
}

.songlist .info .name {
  margin-bottom: 5px;
}

.seeker {
  width: 97%;
  height: 6px;
  background-color: #7f7f7f;
  position: absolute;
  bottom: 0;
  margin: 6px;
  cursor: pointer;
  border-radius: 10px;
}

.seeker .circle {
  left: 0;
  width: 15px;
  height: 15px;
  background-color: #000000;
  border-radius: 50%;
  position: absolute;
  top: -7px;
  transition: left 0.5s;
}

.songinfo {
  color: black;
  padding: 0 20px;
  width: 40%;
  overflow: auto;
}

.songtime {
  color: black;
  padding: 0 20px;
  width: 40%;
  overflow: auto;
  position: relative;
  right: 0;
}

.hamburger {
  display: none;
}

.cross {
  display: none;
  position: absolute;
  right: 15px;
}

.volume {
  display: flex;
  justify-content: center;
  align-items: center;
}

.volume img {
  margin: 0 7px 0 0;
}
.volume input {
  width: 50px;
}

/* Responsive of Mobile and other */

@media (max-width: 900px) {
  .left {
    width: 0vw;
    z-index: 1;
    position: absolute;
  }
  .right {
    width: 100%;
  }
  .hamburger {
    display: inline;
  }

  .songinfo,
  .songtime {
    height: 23px;
    overflow: auto;
  }
}

@media (max-width: 450px) {
  .card {
    width: 150px;
    height: 227px;
    font-size: 0.8rem;
    overflow: hidden;
    background-color: #181818;
  }

  .seeker {
    width: 90%;
  }

  .playbar {
    width: 90%;
  }

  .signin {
    width: 70px;
  }
  .soptyname {
    font-size: 1.5rem;
  }
  .p-t-1 {
    padding-top: 1rem;
  }
}
